body {
  margin: 0px;
}

hr {
  margin:0px;
}

.left-justified {
  text-align: left;
}

.sale-item-grid div {
  margin: 20px;
  width: 20%;
  display: inline-block;
  border: darkred 3px solid;
  background-color: red
}

.sale-item-grid img {
  border: green 5px solid;
}

.sales {
  background-color: radial-gradient(#fafad2,#ff3333);
  margin-top: 155px;
  margin-bottom: 155px;
}

.dropout ul {
  margin-top: 0px;
  padding: 0px;
  list-style: none;
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
  width: fit-content;
  clear: right;
}

.dropout li {
  background-color: lightgrey;
  border: 2px solid darkgrey;
  padding-bottom: 15px;
}

.dropout {
  margin-top: 0px;
  padding-top: 0px;
  position: absolute;
  display: none;
}

.page-top-button {
  float: right;
  margin-right: 10px;
}

.item-grid div{
  margin: 20px;
  width: 20%;
  display: inline-block;
  border: darkred 3px solid;
}

#phone {
  float:left;
  margin-left: 15px;
}

#address{
  float:right;
  margin-right: 15px;
}

#top-bar {
  background-color: lightblue;
  margin: 0px;
  padding: 0px;
  height: 80px;
  width: 100%;
}

#home-button {
  padding: 20px;
  border: 3px solid orange;
  background-color: white;
  font-family: fantasy;
  color: darkblue;
  margin-top: 5px;
  margin-left: 10px;
  width: fit-content;
}

#hamburger {
  padding: 20px;
  border: 3px solid orange;
  background-color: white;
  font-family: fantasy;
  color: darkblue;
  margin-top: 5px;
  margin-right: 10px;
  width: fit-content;
}

#dropdown-menu {
  margin-right: 60px;
  float: right;
}

#dropdown-menu:hover .dropout {
  display: block;
}

#main-home {
  background-image: url(burlpetshop.png);
  height: 1000px;
}

#welcome-text {
  padding-top: 20%;
  color: darkgoldenrod
}
