body {
  margin: 0px;
}

.left-justified {
  text-align: left;
}

.sale-item-grid div {
  margin: 20px;
  width: 20%;
  display: inline-block;
}

.sales {
  background-color: radial-gradient(#fafad2,#ff3333);
  margin-top: 155px;
  margin-bottom: 155px;
}

#top-bar {
  background-color: lightblue;
  margin: 0px;
  padding: 0px;
  height: 80px;
  width: 100%;
}

#home-button {
  border: 3px solid orange;
  background-color: white;
  font-family: fantasy;
  color: darkblue;
  margin-top: 25px;
  margin-left: 60px;
  width: fit-content;
}

#hamburger {
  border: 3px solid orange;
  background-color: white;
  font-family: fantasy;
  color: darkblue;
  margin-top: 25px;
  margin-right: 10px;
}

#dropdown-menu {
  margin-right: 60px;
  float: right;
}

.dropout {
  list-style: none;
  background-color: lightgrey;
  text-align: left;
  width: fit-content;
  clear: right;
  margin-top: 0px;
  padding-top: 0px;
  position: absolute;
  display: none;
}
/*not the right way to make a drop-down, doesn't work*/
#dropdown-menu:hover .dropout {
  display: block;

}

#main-home {
  background-image: url(burlpetshop.png);
  height: 1000px;
}

#welcome-text {
  padding-top: 20%;
  color: darkgoldenrod
}

#pet-sales div {
  margin: 20px;
  width: 20%;
  display: inline-block;
}